---
import "../../styles/global.css";
import BaseHead from "./BaseHead.astro"
import Header from "./Header.astro";
import Footer from "./Footer.astro";

type Props = {
  title?: string;
  description?: string;
  mainClass?: string;
  image?: ImageMetadata | string;
};

const {
  title = "atarrh.io",
  description = "a place to clarify ideas, share technical explorations, and think out loud about infrastructure and systems.",
  mainClass = "contained",
  image } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image}/>
  </head>
  <body>
    <Header />
    <main class={mainClass}>
      <slot />
    </main>
    <Footer />
  </body>
</html>